.options-container{
    display:flex;
    justify-content: end;
    gap: 11px;
    margin-top: 8px;
}

.new-user-button{
    border-radius: 33px;
    background: #3BC97B;
    border: none;
    display:flex;
    color : white;
    align-items: center;
    padding: 0px 17px 0px 25px;
    
    p{
        font-size: 15px;
        padding-right: 5px;
    }
    div{
        font-size: 25px;
    }

}

.search-container{
    border-radius: 50px;
    border: 1px solid var(--grey-grey-30, #EAEEF4);
    background: var(--primary-white, #FFF);
    padding: 11px 25px 11px 25px;  
    display:flex;   
    width: 280px;
    justify-content: space-between;
    
    input{
        border: none;
        font-size: 15px;
        color: #7E92A2;


    }
    input::placeholder{
        font-size: 15px;
        color: #7E92A2;
    }
    input:focus{
        outline: none;
    }
}