.linechart-title{
    color: #3A3A3A;
    font-family: "Nunito";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
    padding-top:10px;
    padding-left:25px;
}