.newcustomer-container{
    position: "fixed";
    transform: "translate(116px, 96px)";
    // zIndex: 9999;
    display: flex;
    // align-items: center;
    padding-top: 75px;
    justify-content: center;

    .modal-title{
        font-family: Nunito;
        color: #3A3A3A;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 26.4px;
        padding-top: 20px;
  }

  .centered-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    height:80%;
    width: 60%;
  }

  .customer-porfile-container-modal{
    background: white;
    // padding: 15px 40px 24px 40px;
    border-radius: 12px;
    background: #FFF;
    // box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.04);
    display:flex;


    .customer-photos{
        flex: 3;
        
    }

    .customer-details{
        flex: 8
    }

    .bottom-title{
        font-family: Nunito;
        color: #3A3A3A;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 26.4px;
        
    }

    .user-profile{
        border-radius: 100px;
        width: 180px;
        height: 180px;
        margin-top: 20px;
    }
    .customer-photo-container{
        text-align: center;

        button{
            border:none;
            padding: 10px 25px;
            border-radius: 6px;
            background:white;
            border: 1px solid #D6E1E6;
            color: #6B7280;
            font-size: 14px;
            width: 65%;
            margin-top: 20px;

            
        }

        .user-upload-button{
            display:flex;
            align-items: center;
            

        }
    }
    .registration-label{
        color: #6B7280;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 30px; /* 250% */
    }

    .registration-date{
        color: #000;
        font-family: Nunito;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.4px; /* 220% */
    }

    .registration-date-container{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-top: 20px;
        width:70%;
        margin:auto;
    }

    .customer-inputs{
        border-radius: 4px;
        border: 1px solid #D6E1E6;
        display:flex;
        justify-content: space-between;
        padding: 8px 0px;
        align-items: center;
        width:80%;
        margin:auto;


        input{
            border: none;
            color: #000;
            font-family: Inter;
            font-size: 16px;
            padding-left: 35px;
            width: 60%;
        }
        input:focus{
            outline: none;
        }

        .phone-input{
            padding-left: 15px;
        }

        .phone-flag{
            display:flex;
            align-items: center;
            padding-right:15px;
            padding-left: 20px;
        }
    }

    .phone-flag-container{
        display:flex;

        p{
            color:#D6E1E6;
        }
    }


    .customer-input-label{
        padding-right: 17px;
        color: #C0C0C0;
        font-size: 14px;
        font-weight: 400;
        // line-height: 26.4px;
    }

    .mt-14{
        margin-top: 14px;

    }

    .input-email{
        color: #00365A !important;
        }

    .minimum-password{
        color: #C0C0C0;
        // text-align: right;
        font-size: 12px;
        line-height: 26.4px; /* 220% */
        padding-left: 25px;
        width:80%;
        margin: auto;
    }

    .customerdetail-btn{
        text-align: right;

        button{
            border-radius: 5px;
            background: #F3F4F6;
            font-family: Inter;
            font-size: 16px;
            line-height: 30px; 
            color: #5523D2;
            border: none;
            padding: 6px 31px;
        }
    }

    .logged-in-text{
        color: #6FB327;
        font-size: 14px;
        font-weight: 600;
        // line-height: 26.4px; 
        padding-top: 28px;
        text-align: center;
    }

    .role-container{
        display:flex;
        gap: 17px;
        width: 80%;
        margin: auto;
        padding: 40px 0px;
    }
    .manager-button{
        border-radius: 50px;
        background: #FBCE60;
        padding: 8px 28px;
        width: 80px;
        color: #000;
        text-align: center;
        /* Body/Medium */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 187.5% */
    }

    .role-disabled{
        color: #909090;
        background: #D9D9D9;
    }
    
}
.signup-row{
    display:flex;
    align-items: center;
    gap: 5px;
    width: 80%;
    margin: auto;
}

.area-code-select{
    width:60%;
    border: none;    
    outline: none;   
    appearance: none; 
    padding-left: 35px
}

.new-user-error{
    color:red
}

}
