.new-customer-container{
    display:flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;

    .new-customer-photo{
        width: 56.564px;
        height: 51px;
        border-radius: 56.564px;
        margin-right: 10px;

    }

    .new-customer-name{
        color: #000;
        font-family: "Nunito";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .joined-text{
        color: #909090;
        font-family: "Nunito";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .joined-date{
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .name-flag-container{
        display:flex;
        justify-content: space-between;
        width: 200px;
    }
}

