$global-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
$gray: #343D3A;

.home{
    display:flex;
    background-color: #F8F8F8;
    width:100%;
}

.dashboardContainer{
    width:100%;
}
.dashboard-container{

    padding: 44px 61px 44px 61px; 
}

.dashboard-title{
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    padding-bottom: 21px;
    border-bottom: 1px solid #D7D7D7;
}

.top-container{
    display:flex;
    gap: 32px;
}

.top-container-left{
    flex: 6
}

.top-container-right{
    flex:6
}