html,
body {
  height: 100%;
  margin: 0;
}


.sidebar {
  // position: sticky;
  top: 0;
  // height: 100vh;
  // width: 200px;
  background-color: #f8f8f8;
  background-color: #fff;
  border-right: 0.5px solid rgb(230, 227, 227);
  // min-height: 100vh;
  display: flex;
  // transition: all 0.3s ease-in-out;
  // transform: translateX(0);
  
  &.hide {
    transform: translateX(-100%);
  }

  li.active:hover a {
    color: inherit;
  }

  li.active:hover span {
    color: inherit;
  }



  .midsidebar {
    position: relative;
    width: 116px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      text-align: center;
      align-items: center;
      padding: 20px 5px 20px 5px;
      cursor: pointer;
      position: relative;
      border: 1px solid #f2f2f2;

      .icon {
        font-size: 35px;
        color: #000000;
      }

      .icon-svg {
        fill: #5523d2;
      }

      .icon img {
        color: yellow;
      }

      span {
        color: #909090;
      }

      &.active {
        color: #5523d2;

        .icon {
          color: #5523d2;
        }

        span {
          color: #5523d2;
        }
      }
    }
  }

  .submenubar {
    width: 250px;
    text-align: center;
    align-items: center;
    padding-top: 50px;

    .submenucontainer {
      display: flex;
      align-items: center;
      // justify-content: center;
      padding-top: 35px;
      .icon{
        padding-right:25px;
        height:33px;
        width:33px;
        padding-left:25px;

      }
      
      &.active {
        color: #5523d2;

        .icon {
          color: #5523d2;
        }

        span {
          color: #5523d2;
        }}

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #333;
        padding: 5px;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &.active {
          background-color: #aaa;
          color: #fff;
        }

        .icon img {
          margin-right: 5px;
          width:33px;
          height:33px;
        }

        span {
          color: inherit;
        }
      }
    }
  }

}

.sidebarVisible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  // display: block;
}

.sidebarHidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: block;
  animation: fadeOut 0.3s;
  animation-fill-mode: forwards;
  // background-color: grey;

}

@keyframes fadeOut {
  to {
    display: none;
  }
}