.footer{
    height: 52px;
    background-color: #3A3A3A;
    display:flex;
    align-items: center;
}

.footer-text{
    color: #AFAFAF;
    font-family: "Nunito";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    padding-left: 56px
}